.boxscore {
    display: table;
    border: 1px solid #747678;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 0;
}

.boxscore th {
    text-align: center;
    min-width: 40px;
    color: #990000;
    background-color: #eee;
    font-weight: bold;
    background-clip: padding-box;
    border: 1px solid #ddd;
    border-top-width: 0;
    border-right-width: 0;
    padding: 2px 3px;
}

.boxscore thead th {
    border-bottom-color: #747678;
    border-bottom-style: solid;
}

.noLeftBorder {
    border-left: none !important;
}

.boxscore td {
    text-align: center;
    border: 0 solid #ddd;
    border-bottom: 1px dotted #ddd;
    border-left-width: 1px;
    padding: 3px 4px;
}

.noBottomBorder {
    border-bottom-width: 0 !important;
}

.total {
    border-top: 1px solid #747678;
    border-bottom-width: 0;
    font-weight: bold;
    background-color: #eeeeee;
}

.title {
    color: #990000;
    font-weight: bold;
}

.subtitle {
    display: inline;
    font-weight: bold;
}

h1 {
    color: #990000;
}

.score {
    border: 1px solid black;
    padding: 0 2px;
    margin: 0 1px;
}

input {
    margin-right: 5px;
    font-size: 1.5rem;
}

button {
    font-size: 1.5rem;
}

.scoreboardLink {
    color: black;
}

#up {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: 2px solid #990000;
    outline: none;
    color: black;
    cursor: pointer;
    padding: 0 10px 10px 10px;
    border-radius: 10px;
    font-size: 50px;
    background: white;
    text-align: center;
}

#up:hover {
    background-color: #eeeeee;
}

#scoreboard {
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;

}

.teamScoreboard {
    display: flex;
    flex-direction: row;
    margin-top: 3px;
}

a {
    text-decoration: none;
    color: black;
}

.linescore {
    display: table;
    border: 1px solid #747678;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 0;
}

.linescore th {
    text-align: center;
    min-width: 25px;
    color: #990000;
    background-color: #eee;
    font-weight: bold;
    background-clip: padding-box;
    border: 1px solid #ddd;
    border-top-width: 0;
    border-right-width: 0;
    padding: 2px 3px;
}

.linescore thead th {
    border-bottom-color: #747678;
    border-bottom-style: solid;
}

.linescore td {
    text-align: center;
    border: 0 solid #ddd;
    border-bottom: 1px dotted #ddd;
    border-left-width: 1px;
    padding: 3px 4px;
}

.gray {
    background-color: rgba(221,221,221,0.33);
}

.strongLeftBorder {
    border-left: 1px solid #a1a1a1 !important;
}