.boxscore {
    display: table;
    border: 1px solid #747678;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 0;
}

.boxscore th {
    text-align: center;
    min-width: 40px;
    color: #990000;
    background-color: #eee;
    font-weight: bold;
    background-clip: padding-box;
    border: 1px solid #ddd;
    border-top-width: 0;
    border-right-width: 0;
    padding: 2px 3px;
}

.boxscore thead th {
    border-bottom-color: #747678;
    border-bottom-style: solid;
}

.noLeftBorder {
    border-left-width: 0;
}

.boxscore td {
    text-align: center;
    border: 0 solid #ddd;
    border-bottom: 1px dotted #ddd;
    border-left-width: 1px;
    padding: 3px 4px;
}

.noBottomBorder {
    border-bottom-width: 0;
}

.total {
    border-top: 1px solid #747678;
    border-bottom-width: 0;
    font-weight: bold;
    background-color: #eeeeee;
}

.title {
    color: #990000;
    font-weight: bold;
}

.subtitle {
    display: inline;
    font-weight: bold;
}

h1 {
    color: #990000;
}

.score {
    display: inline-block;
    border: 1px solid black;
    padding: 0 2px;
    margin: 0 1px 2px 1px;
}

input {
    margin-right: 5px;
    font-size: 1.5rem;
}

button {
    font-size: 1.5rem;
}
