.boxscore-container {
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.boxScores {
    background-color: #ffffff;
    margin: 20px 20px;
    padding: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    max-width: 100%;
}

.line-score-container, .extra-info-container {
    width: 100%;
}

.batter-boxscore-flex-container, .pitcher-boxscore-flex-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.batter-boxscore, .pitcher-boxscore {
    flex: 1;
}

@media screen and (max-width: 768px) {
    .batter-boxscore, .pitcher-boxscore {
        width: 100%;
    }
}

.line-score-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    min-width: 400px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.line-score-table thead tr {
    background-color: #6495ED;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}

.line-score-table th,
.line-score-table td {
    padding: 12px 15px;
    text-align: center;
    width: 30px;
    min-height: 50px;
}

.line-score-table tbody tr {
    border-bottom: 1px solid #e0e0e0;
}

.line-score-table tbody tr:nth-of-type(even) {
    background-color: #f9f9f9;
}

.line-score-table tbody tr:last-of-type {
    border-bottom: 2px solid #6495ED;
}

.line-score-table th,
.line-score-table td {
    text-align: center;
    width: 30px;
}

.gray {
    background-color: #f2f2f2;
    border-left: 3px solid #6495ED;
}

.title {
    background: linear-gradient(to left, #6495ED, #4169E1);
    color: #ffffff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: clamp(20px, 4vw, 30px);
    margin-bottom: clamp(20px, 5vw, 30px);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    border: 1px solid rgba(255, 255, 255, 0.3);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.title h1, .title h2 {
    color: #e0e0e0;
    transition: color 0.3s ease;
}

.title h2 {
    font-size: clamp(1.8rem, 5vw, 3.5rem);
    margin-top: 25px;
    font-weight: bold;
    color: #e0e0e0;
    transition: color 0.3s ease;
    letter-spacing: 0.2em;
}

.batter-boxscore {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.batter-boxscore table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.batter-boxscore th, .batter-boxscore td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
}

.batter-boxscore th {
    background-color: #6495ED;
    color: #ffffff;
    font-weight: bold;
}

.batter-boxscore tbody tr:nth-of-type(even) {
    background-color: #f9f9f9;
}

.batter-boxscore tbody tr:hover {
    background-color: #f1f1f1;
}

.batter-boxscore .total {
    font-weight: bold;
    background-color: #f0f0f0;
}

.batter-boxscore th:first-child, .batter-boxscore td:first-child {
    text-align: left;
    white-space: nowrap;
}

.batting-info-section {
    margin-bottom: 10px;
    font-size: 1em;
    color: #333;
}

.batting-info-section h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
    color: #4169E1;
}

.batting-info-section span.subtitle {
    display: inline-block;
    margin-right: 5px;
    font-weight: bold;
}

.pitcher-boxscore {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.pitcher-boxscore table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pitcher-boxscore th, .pitcher-boxscore td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
}

.pitcher-boxscore th {
    background-color: #6495ED;
    color: #ffffff;
    font-weight: bold;
}

.pitcher-boxscore tbody tr:nth-of-type(even) {
    background-color: #f9f9f9;
}

.pitcher-boxscore tbody tr:hover {
    background-color: #f1f1f1;
}

.pitcher-boxscore .total {
    font-weight: bold;
    background-color: #f0f0f0;
}

.pitcher-boxscore th:first-child, .pitcher-boxscore td:first-child {
    text-align: left;
    white-space: nowrap;
}

.extra-info-container h3 {
    font-size: 1.6em;
    color: #4169E1;
}

.extra-info-container .subtitle {
    display: inline-block;
    margin-right: 5px;
    font-weight: bold;
}
