h1 {
    text-align: center;
    font-size: 60px;
    text-transform: uppercase;
    color: #001956;
    letter-spacing: 2px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

h1 span {
    margin-top: 5px;
    font-size: 30px;
    color: #4169E1;
    word-spacing: 1px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
}

h1 span:after, h1 span:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #6495ED;
    border-top: 1px solid #6495ED;
    height: 5px;
    background-color: #f8f8f8;
}